<div class="entry2">
  <div class="row">
	<% if (item.feature ) { %>
              <div class="thumbnail"><a href=""><img src="<%= item.feature %>" alt="<%= item.title %>"  class="nofancybox"></a></div>
	<% } %>
	<%- item.content %>
	</div>
</div>
